:root {
    --black-color: #2c2c2c;
}

/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */

address {
    font-style: normal;
}

body {
    /* font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

.container {
    width: 1280px;
    padding: 100px 16px;
    margin: 0 auto;
}

/* Some of Our Favorites */

.food-list{
display: flex;
flex-wrap: wrap;
gap: 32px;
justify-content: center;
}

.food-list-icon{
display: flex;
width: calc ((100% - 222px) / 3);
border-radius: 197px;
border: 16px solid #FFE550;
background: #FEFEFE;
}

.our-favorites{
text-align: center;
background-color: #FEFEFE;
}

.title-favorites{
margin-bottom: 20px;
}

.looking-food-list{
margin-bottom: 40px;
}