:root {
    --black-color: #2c2c2c;
}

/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */

address {
    font-style: normal;
}

body {
    /* font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}




.logo-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-list {
display:flex;
column-gap: 28px;
align-items: center;
}


.link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.buton-header {
    border-radius: 30px;
    background-color: #BBF330;
    justify-content: center; 
    align-items: center;
    height: 32px;
    color: var(--black);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: 0;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-header {
    display: flex;
    width: 100%;
    max-width: 1120px;
    justify-content: space-between;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-home {
    text-decoration: underline;
    color: #BBF330;
    font-size: 14px;
    font-weight: 500;
    
}

.buton-header:hover,
.buton-header:focus {
    background-color: #FFE450;
}

.link:hover,
.link:focus {
color: #BBF330;
}

.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-header {
   background: var(--White, #FEFEFE);
   box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
} 