:root {
  /* COLORS */
  --black-color: #2c2c2c;
  --button-green-color: #bbf330;
  --dark-green-color: #7eb101;
  --white-color: #fefefe;
  --white-background-color: #fff;
  --yellow-main-color: #ffe550;
  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  /* ANIMATION  */
  --duration: 250ms;
  --time-function: ease-in-out;
}

/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--white-color);
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ================================== CONSTANT */
/* ======================================================================= */

/* ======================================================================= */
/* ====== HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.logo-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation-header {
  display: flex;
  width: 100%;
  max-width: 1120px;
  justify-content: space-between;
}

.header-list {
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.link {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 400;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--button-green-color);
}

.link-home {
  text-decoration: underline;
  color: var(--button-green-color);
  font-size: 14px;
  font-weight: 500;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  height: 32px;
  color: var(--black-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  background-color: var(--button-green-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--yellow-main-color);
}

/* ================================== HEADER */
/* ======================================================================= */

/* ======================================================================= */
/* ====== HERO */

.hero {
  position: relative;
  padding-top: 159px;
  padding-bottom: 219px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 500px;
  margin-bottom: 28px;
}

.hero-text {
  max-width: 511px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  min-width: 98px;
  padding: 6px 18px;
  border: none;
  border-radius: 30px;
  background-color: var(--button-green-color);

  transition: background-color var(--duration) var(--time-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--yellow-main-color);
}

.hero-img-border {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  border: 26px solid var(--yellow-main-color);
}

/* ================================== HERO */
/* ======================================================================= */

/* ======================================================================= */
/* ====== OFFERINGS */

.offerings-section {
  background-color: var(--yellow-main-color);
}

.offerings-container {
  padding-top: 196px;
  padding-bottom: 160px;
  padding-left: 656px;
}

/* ================================== OFFERINGS */
/* ======================================================================= */

/* ======================================================================= */
/* ====== FAVORITES */

.favorites-container {
  padding-top: 120px;
  padding-bottom: 101px;
}

/* ================================== FAVORITES */
/* ======================================================================= */

/* ======================================================================= */
/* ====== CUSTOMERS SAY */

.customers {
  background-color: var(--yellow-main-color);
}

.customers-container {
  padding-top: 140px;
  padding-bottom: 126px;
  padding-left: 32px;
}

.customers-title {
  font-size: 42px;
  margin-bottom: 20px;
}

.customers-paragrapf {
  margin-bottom: 33px;
}

.customers-feedback-list {
  display: flex;
  gap: 139px;
}

.customers-feedback-item {
  max-width: 501px;
  background-color: var(--white-color);
  padding: 14px;
  border-radius: 0px 30px 30px 30px;
}

.customers-stars-icon {
  width: 101px;
  height: 16px;
  margin-bottom: 28px;
}

.customers-text {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 45px;
}

.customers-person {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  padding-right: 14px;
  border-right: 1px solid var(--button-green-color);
}

.customers-img {
  height: 48px;
  width: 48px;
}

.customers-menu {
  display: flex;
  flex-direction: column;
}

.customers-menu-text-up {
  font-weight: 500;
  line-height: 1.5;
}

.customers-menu-text {
  line-height: 1.5;
}

/* ================================== CUSTOMERS SAY */
/* ======================================================================= */

.subscribe-container {
  padding-top: 222px;
  padding-bottom: 237px;
}

/* ======================================================================= */
/* ======= FOOTER */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(./img/Footer/Fruit.jpg);
  background-size: 1248px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-blok {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-nav-link {
  margin-right: 143px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.footer-nav-list {
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.footer-form-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer-form-input {
  width: 279px;
  padding: 12px;
  height: 42px;
  margin-right: 13px;
  border-radius: 30px;
  border: 0.854px solid var(--yellow-main-color);
  background: var(--White, #fefefe);
  background-color: var(--white-background-color);

  color: var(--black-color);
  line-height: 1.25;
  outline: transparent;
}

.footer-form-input:focus {
   border: 0.854px solid var(--dark-green-color);  
}

.footer-form-button {
  color: var(--black-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  min-width: 103px;
  height: 42px;
  padding: 11px 22px;
  text-align: center;
  margin: 0 auto;
  outline: transparent;
  border-radius: 30px;
  border: 0.854px solid var(--dark-green-color);
  background-color: var(--white-background-color);
}

.footer-form-button:hover,
.footer-form-button:focus {
  border: 0.854px solid var(--yellow-main-color);
}

.form-subscribe {
  margin-bottom: 12px;
}

.footer-form-text {
  font-size: 12px;
  max-width: 341px;
  line-height: normal;
}

.footer-form-link {
  color: var(--dark-green-color);
}

.footer-link {
  display: flex;
  justify-content: space-between;
}

.footer-link-list {
  display: flex;
  column-gap: 20px;
}

.footer-item-link {
  color: var(--dark-green-color);
  font-size: 12px;
  line-height: normal;
}

.footer-text {
  font-size: 12px;
  line-height: normal;
}

/* ============================================ FOOTER  */
/* ======================================================================= */

/* ======================================================================= */
/* ====== MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(94, 99, 99, 0.7);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--duration) var(--time-function),
    visibility var(--duration) var(--time-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 458px;
  padding: 32px;

  color: var(--black-color);
  font-size: 16px;

  border-radius: 30px;
  background: var(--yellow-main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  background-color: var(--white-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border: none;
  border-radius: 50%;
  outline: transparent;

  transition: background-color var(--duration) var(--time-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--button-green-color);
}

.modal-close-btn-icon {
  fill: var(--black-color);
}

.modal-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.modal-form {
  width: 394px;
}

.modal-input-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 24px;
}

.modal-input-email-wrap {
  margin-bottom: 32px;
}

.modal-label {
  font-weight: 500;
  line-height: 1.4;
}

.modal-input {
  width: 100%;
  padding: 14px 12px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background-color: var(--white-background-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;

  color: var(--black-color);
  line-height: 1.25;
  outline: transparent;

  transition: border-color var(--duration) var(--time-function);
}

.modal-input::placeholder {
  color: #c4c4c4;
}

.modal-input:focus {
  border-color: var(--dark-green-color);
}

.modal-send-btn {
  display: block;
  color: var(--black-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  min-width: 106px;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  outline: transparent;
  border-radius: 30px;
  border: 2px solid var(--dark-green-color);
  background-color: var(--white-background-color);

  transition: background-color var(--duration) var(--time-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--button-green-color);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* ================================== MODAL */
